@import '../layouts/variables.css';

.info-bar {
  border-bottom: 1px solid var(--colorDivider);
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.book-count {
  color: var(--colorMuted);
  margin: 0;
  line-height: 26px;
}

.search-input {
  border: 1px solid var(--colorDivider);
  padding: 5px 8px;
  margin-top: -7px;
  position: absolute;
  right: 38px;
  font-size: 13px;
  width: 260px;
  border-radius: 3px;
  outline: none;
  transition: visibility 0s, width 0.1s ease-out;

  &:focus {
    border-color: var(--colorRed);
    transition: visibility 1s, width 0.1s ease-out;
  }

  &.hidden {
    visibility: hidden;
    width: 0px;
  }
}

.search-button {
  cursor: pointer;
  margin-left: 10px;
}

.search-form {
  margin: 3px 10px 0 0;
}

.back-link {
  float: right;
}

.info {
  color: var(--colorMuted);
  display: block;
}

.book-info {
  float: right;
  text-align: right;
}

.book-link {
  float: left;
  text-decoration: none;

  &:hover h3 {
    color: var(--colorRed);
  }
}

.book-link h3 {
  transition: 0.4s color;
}

.book {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}